.wrap{
    padding-bottom:40px ;
}
header .mui-scroll-wrapper{
    height:44px;
}
header .mui-scroll-wrapper .mui-scroll{
    height:44px;
}
header .mui-scroll-wrapper .mui-scroll .mui-control-item{
    line-height:44px !important;
    font-size:14px !important;
    padding: 0 8px;
    position:relative;
}
header .mui-scroll-wrapper .mui-scroll a.mui-active{
    color:black !important;
    line-height:44px !important;
}
header{
    width:100%;
    height:44px;
    background-color: #fff;
    position: fixed;
    left:0;
    top:0;
    z-index:999;
}
header .mui-scroll-wrapper{
    width:auto !important;
    margin:0 88px 0 5px;
    display: block;
}
header .mui-segmented-control.mui-scroll-wrapper .mui-control-item i{
    display: block;
    width: 1px;
    height: 10px;
    line-height: 0;
    background-color: rgb(221,221,221);
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
}
header .mui-segmented-control.mui-scroll-wrapper .mui-control-item b{
    width: 60px;
    height: 2px;
    background: #ff165b;
    position: absolute;
    left: 6px;
    right: 11px;
    bottom: 6px;
}
header .headoper{
    position: absolute;
    top:0;
    right:14px;
    width:60px;
    height:44px;
}
header .headoper .headsearch{
    display: flex;
}
.pl{
    font-size:14px;
    padding-top:14px;
    padding-left:10px;
}
.tab1 .mui-slider{
    margin-top:44px;
}
.tab2{
    width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.tab2 ul li{
    width: 33.333%;
    height: 40px;
    float: left;
}
.tab2 ul li a{
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    position: relative;
    color: #666;
}
.tab2 ul li a.on{
    color: #333333;
    background: #eeeeee;
}
.tab2 ul li .opfilter span.icon-filter {
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.tab3{
    width: auto;
    height: auto;
    padding: 10px;
    overflow: hidden;
    background: #fff;
}
.tab3 ul li{
    width: 33.333%;
    height: auto;
    float: left;
    padding: 5px;
}
.tab3 ul li a .img img {
    width: 100%;
    height:100%;
    border-radius: 5px;
}
.tab3 ul li a .con {
    width: auto;
    height: auto;
    padding-top: 8px;
}
.tab3 ul li a .con .tit {
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
}
.tab3 ul li a .con .txt {
    width: auto;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    color: #999;
}


/*rednotice*/
.tab4 .item{
    background: #fff;
    margin-bottom: 10px;
}
.tab4 .item .tit {
    padding: 10px 0;
}
.tab4 .item .tit a {
    display: inline-block;
    border-left: 2px solid #f54744;
    padding-left: 12px;
}
.tab4 .item .tit a span {
    display: block;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #333;
    padding-right: 20px;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
}
.tab4 .item .img a {
    display: block;
}
.tab4 .item .img img {
    width: 100%;
    height:100%;
}
.icon_2 {
    background-position: -20px -20px !important;
}

/*throughtrain*/
.tab5{
    width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.tab5 ul li{
    width: 50%;
    height: 40px;
    float: left;
}
.tab5 ul li a{
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    position: relative;
    color: #666;
}
.tab5 ul li a.on{
    color: #333333;
    background: #eeeeee;
}
.tab6 ul li {
    padding-bottom: 5px;
}
.tab6 ul li .box a {
    display: block;
    background: #fff;
    position: relative;
    padding: 15px;
}
.tab6 ul li .box a .con {
    min-height: 80px;
    padding-right: 120px;
}
.tab6 ul li .box a .con .tit {
    font-size: 14px;
    color: #333;
}
.tab6 ul li .box a .con .txt {
    font-size: 12px;
    color: #999;
    line-height: 1.6em;
    padding-top: 5px;
}
.tab6 ul li .box a .con .note span {
    display: block;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #999;
    padding-left: 15px;
    position: relative;
}
.tab6 ul li .box a .con .note span i {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
}
.tab6 ul li .box a .img {
    width: 110px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 15px;
}
.tab6 ul li .box a .img img {
    width: 110px;
    height: 80px;
}
.tab6 ul li .ima a {
    display: block;
    position: relative;
}
.tab6 ul li .ima a .con {
    width: 100%;
    height: 60px;
    font-size: 14px;
    color: #fff;
    padding: 30px 15px 0 15px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
}
.tab6 ul li .ima a .img img {
    width: 100%;
}

/*throughtraincon*/
.tab7 {
    background: #fff;
}
.tab7 .txt1{
    padding: 20px 15px 0 15px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.tab7 .txt2{
    margin: 15px 15px 0 15px;
    background-color: #eee !important;
    border-radius: 5px;
    padding: 10px 15px 10px 45px;
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
    background: url(../images/icon-intro.png) no-repeat;
    background-size: 17px 13px;
    background-position: 15px 15px;
}
.tab7 .main{
    font-size: 13px;
    color: #999999;
    line-height: 1.6em;
}
.tab7 .main .txt3{
    padding: 15px;
    text-align: justify;
}
.tab7 .main .video a{
    display: block;
    position: relative;
}
.tab7 .main .video a .icon{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    background: url(../images/video-play.png) no-repeat;
    background-size: 40px 40px;
    z-index: 2;
}
.tab7 .main .video a img{
    width:100%;
    height:100%;
}
.tab7 .main .img{
    padding:0 15px;
}
.tab7 .main .img img{
    width:100%;
    height:100%;
}
.tab7 .main .imgg img{
    width:100%;
    height:100%;
}

.tab7 .four{
    height: 35px;
    padding: 5px 0;
}
.tab7 .four ul li{
    width: 25%;
    height: 24px;
    float: left;
}
.tab7 .four ul li a{
    display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    text-align: center;
}
.tab7 .four ul li a .item{
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    margin-left: 20px;
}
.tab7 .four ul li a .item span{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
}
.tab7 .four ul li a .item span.ico1{
    background-position: 0px 0px;
}
.tab7 .four ul li a .item span.ico2{
     background-position: -12px 0px;
 }
.tab7 .four ul li a .item span.ico3{
    background-position: -24px 0px;
}
.tab7 .four ul li a .item span.ico4{
    background-position: -36px 0px;
}

/*producedcon*/
.tab8{
    background: #fff;
    margin-top: 10px;
}
.tab8 .tab8_header{
    height: 44px;
    padding: 0 15px;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_header .name{
    height: 44px;
    line-height: 44px;
    float: left;
    font-size: 12px;
    color: #333;
}
.tab8 .tab8_header .more{
    height: 44px;
    float: right;
}
.tab8 .tab8_header .more a{
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #999;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
}
.tab8 .tab8_main{
    background: #fff;
}
.tab8 .tab8_main .item{
    padding-left: 55px;
    position: relative;
}
.tab8 .tab8_main .item .tou{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.tab8 .tab8_main .item .tou a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.tab8 .tab8_main .item .shen{
    min-height: 60px;
    padding: 15px 15px 15px 0;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_main .item .shen .name{
    font-size: 10px;
    color: #333;
}
.tab8 .tab8_main .item .shen .name a{
    color: #333;
}
.tab8 .tab8_main .item .shen .cont{
    padding-top: 5px;
    position: relative;
}
.tab8 .tab8_main .item .shen .cont .text{
    font-size: 12px;
    color: #333;
    line-height: 18px;
    margin-right: 75px;
}
.tab8 .tab8_main .item .shen .cont .opera{
    height: 36px;
    position: absolute;
    right: 0;
    top: -5px;
}
.tab8 .tab8_main .item .shen .cont .opera .like{
    height: 36px;
    float: left;
}
.tab8 .tab8_main .item .shen .cont .opera .like a{
    display: block;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 12px;
    color: #999999;
    padding-left: 18px;
}
.tab8 .tab8_main .item .shen .cont .opera .like a i{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
    background-position: -24px 0px;
}
.tab8 .tab8_main .item .shen .cont .opera .other{
    height: 36px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .icon{
    height:36px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .icon a{
    display: block;
    height: 36px;
    background: url(../images/icon-other.png) no-repeat right center;
    background-size: 3px 12px;
    padding-left: 10px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns{
    width: 44px;
    position: absolute;
    right: -10px;
    top: 44px;
    background: #f0f0f0;
    border-radius: 3px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns i{
    display: block;
    width: 8px;
    height: 8px;
    background: #f0f0f0;
    position: absolute;
    top: -4px;
    right: 8px;
    -webkit-transform: rotate(45deg);
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul li a{
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 12px;
    padding: 6px 0;
    text-align: center;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul li a.red{
    color:#ff5500;
}
.tab8 .tab8_main .item .shen .note{
    padding-top: 5px;
    font-size: 10px;
    color: #999;
}
.tab8 .tab8_main .item .shen .note a{
    color: #999;
    position: relative;
    margin-left: 6px;
    padding-left: 8px;
}
.tab8 .tab8_main .item .shen .note a i{
    display: block;
    width: 2px;
    height: 2px;
    background: #999;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.tab8 .tab8_main .item .shen .look{
    padding-top: 10px;
}
.tab8 .tab8_main .item .shen .look a{
    display: block;
    background: #f9f9f9;
    border-radius: 5px;
    font-size: 10px;
    color: #666666;
    padding: 0 10px;
}
.tab8 .tab8_main .item .shen .look a span{
    display: block;
    padding: 6px 0;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
    line-height: 12px;
}
.tab8 .tab8_main .item .shen .huifu{
    margin-top: 10px;
    background-color: #f9f9f9 !important;
    border-radius: 5px;
    background: url(../images/discuss-reply.png) no-repeat;
    background-size: 12px 11px;
    background-position: 12px 11px;
    padding-left: 33px;
}
.tab8 .tab8_main .item .shen .huifu ul li{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox{
    padding: 10px 0;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname{
    line-height: 12px;
    position: relative;
    font-size: 10px;
    color: #333333;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname a{
    color:#3d6fce;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname .time{
    display: block;
    height: 12px;
    line-height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    color: #999;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifutext{
    font-size: 10px;
    color: #333333;
    padding-top: 5px;
}
.tab9{
    width: 100%;
    height: 50px;
    background: url(../images/borgrayt.png) repeat-x top #f6f6f6;
    background-size: 1px 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 6px 76px 6px 6px;
}
.tab9 span.icon{
    width: 38px;
    height: 38px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 2;
    background: url(../images/icon-edit.png) no-repeat center;
    background-size: 18px 18px;
}
.tab9 form .inp{
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    padding: 10px 10px 10px 38px;
}
.tab9 form input[type="text"]:focus{
    border:2px solid #ffbb11 !important;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;*/
    box-shadow: #ffbb11 0px 0px 10px;
}
.tab{
    padding-bottom:50px;
}

/*bbs*/
.bbslist ul{
    display: block;
}
.bbslist ul li{
    padding-bottom: 3px;
}
.bbslist ul li a{
    display: block;
    height: 76px;
    background: #fff;
    position: relative;
}
.bbslist ul li a .numbox{
    width: 40px;
    height: 16px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -8px;
}
.bbslist ul li a .numbox .num2{
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #f5960f;
}
.bbslist ul li a .numbox .king{
    width: 20px;
    height: 16px;
    margin: 0 auto;
}
.bbslist ul li a .numbox .king img{
    width: 20px;
    height: 16px;
}
.bbslist ul li a .touxiang{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 40px;
    top: 50%;
    margin-top: -20px;
}
.bbslist ul li a .touxiang span{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/vipwhite.png) no-repeat;
    background-position: center;
    background-size: 10px 10px;
    background-color: #ff3333;
}
.bbslist ul li:nth-child(even) a .touxiang span {
    background-color: #ffcc00;
}
.bbslist ul li a .touxiang img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bbslist ul li a .text{
    height: 76px;
    padding: 0 96px 0 98px;
}
.bbslist ul li a .text .tr{
    display: table;
    width: 100%;
    height: 76px;
}
.bbslist ul li a .text .tr .td{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.bbslist ul li a .text .tr .td .name{
    font-size: 14px;
    color: #333;
}
.bbslist ul li a .text .tr .td .name span{
    color: #999;
    font-size: 10px;
    margin-left: 10px;
}
.bbslist ul li a .text .tr .td .test{
    font-size: 10px;
    color: #d55c5f;
    padding-top: 5px;
}
.bbslist ul li:nth-child(even) a .text .tr .td .test {
    color: #f5960f;
}
.bbslist ul li a .butt{
    width: 66px;
    height: 42px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -21px;
}
.bbslist ul li a .butt .btn{
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background: #ea9ca1;
    border-radius: 3px;
    margin-bottom: 2px;
}
.bbslist ul li:nth-child(even) a .butt .btn {
    background: #f9c99f;
}
.bbslist ul li a .butt .yuan{
    height: 16px;
    text-align: center;
    line-height: 16px;
    background-color: #e2777d;
    background-size: 3px 3px;
    font-size: 10px;
    color: #fff;
    border-radius: 3px;
}
.bbslist ul li:nth-child(even) a .butt .yuan {
    background-color: #f9c99f;
}
.bbslist .waiting{
    height: 50px;
}
.bbslist .waiting .waitingtxt{
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #666;
    font-size:12px;
}
/*筛选*/
.shaixuan{
    background-color: #fff;
}
.shaixuan .close{
    width: 44px;
    height: 44px;
    background-color: #fff;
    z-index: 2;
    position: fixed;
    left: 2px;
    top: 0;
}
.shaixuan .close a{
    display: block;
    width: 44px;
    height: 44px;
    background: url(../images/open-close.png) no-repeat center;
    background-size: 15px 15px;
}
.shaixuan .title{
    width: 100%;
    height: 44px;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    color: #333;
}
.shaixuan .bestmain{
    padding-top: 44px;
}
.shaixuan .bestmain .item{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
    padding-bottom: 14px;
}
.shaixuan .bestmain .item .tit{
    padding-top: 14px;
}
.shaixuan .bestmain .item .tit a{
    display:block;
    border-left: 2px solid #f54744;
    padding-left: 12px;
    position: relative;
}
.shaixuan .bestmain .item .tit a span{
    position: relative;
}
.shaixuan .bestmain .item .tit a span::after{
    content: '';
    display: block;
    width: 14px;
    position: absolute;
    right: -42px;
    top: 6px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    color: #666666;
    background: url(../images/inmore.png) no-repeat;
    background-size: 5px 10px;
    padding-right: 20px;
}
.shaixuan .bestmain .item .list ul{
    display: block;
    overflow: hidden;
    padding: 0 7px 0 7px;
}
.shaixuan .bestmain .item .list ul li{
    width: 33.333%;
    float: left;
    padding: 14px 7px 0 7px;
}
.shaixuan .bestmain .item .list ul li a{
    display: block;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 28px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
.fot{
    width:100%;
    height:70px;
    background-color: #fff;
    bottom:0;
}

/*bbscon*/
.tab10{
    background: #fff;
}
.tab10 .user{
    padding: 15px;
    position: relative;
}
.tab10 .user .touxiang{
    width: 46px;
    height: 46px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.tab10 .user .touxiang a{
    display: block;
    width: 46px;
    height: 46px;
    position: relative;
}
.tab10 .user .touxiang a span{
    display: block;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../images/vipwhite.png) no-repeat;
    background-position: center;
    background-size: 10px 10px;
    background-color: #ff3333;
}
.tab10 .user .touxiang a img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.tab10 .user .jieshao{
    height: 46px;
    padding: 0 120px 0 56px;
}
.tab10 .user .jieshao .name{
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #333;
}
.tab10 .user .jieshao .name a{
    color:#333;
}
.tab10 .user .jieshao .txt{
    line-height: 12px;
    font-size: 12px;
    color: #999;
}
.tab10 .user .note{
    line-height: 12px;
    font-size: 12px;
    color: #666;
    position: absolute;
    right: 15px;
    top: 45px;
}
.tab10 .jbjs{
    padding: 0 15px 15px 15px;
    font-size: 13px;
    color: #999;
    line-height: 1.6em;
}
.tab10 .btn{
    text-align: center;
    padding: 10px 0;
    background: url(../images/borgrayt.png) repeat-x top;
    background-size: 1px 1px;
}
.tab10 .btn a{
    display:inline-block;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 15px;
    padding: 0 35px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}
.tab11{
    padding-top: 10px;
}
.tab11 .title{
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.tab11 .title ul li{
    width: 33.333%;
    height: 40px;
    float: left;
}
.tab11 .title ul li a{
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.tab11 .title ul li a.on{
    color: #333333;
    background: #eeeeee;
}
.tab11 .tab12 .item{
    background: #fff;
    margin-bottom: 5px;
    padding: 0 15px;
}
.tab11 .tab12 .item .wen{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
    padding: 15px 0;
}
.tab11 .tab12 .item .wen .head{
    height: 36px;
    position: relative;
}
.tab11 .tab12 .item .wen .head .user{
    height: 36px;
    position: relative;
    padding-left: 46px;
}
.tab11 .tab12 .item .wen .head .user .tou{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}
.tab11 .tab12 .item .wen .head .user .tou a{
    display: block;
    width: 36px;
    height: 36px;
}
.tab11 .tab12 .item .wen .head .user .tou a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.tab11 .tab12 .item .wen .head .user .name{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}
.tab11 .tab12 .item .wen .head .zan{
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
}
.tab11 .tab12 .item .wen .head .zan .like{
    height: 36px;
    float: left;
}
.tab11 .tab12 .item .wen .head .zan .like a{
    display: block;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 12px;
    color: #999999;
    padding-left: 18px;
}
.tab11 .tab12 .item .wen .head .zan .like a i{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
    background-position: -24px 0px;
}
.tab11 .tab12 .item .wen .head .zan .other{
    height: 36px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.tab11 .tab12 .item .wen .head .zan .other .icon{
    height:36px;
}
.tab11 .tab12 .item .wen .head .zan .other .icon a{
    display: block;
    height: 36px;
    background: url(../images/icon-other.png) no-repeat right center;
    background-size: 3px 12px;
    padding-left: 10px;
}
.tab11 .tab12 .item .wen .head .zan .other .btns{
    width: 44px;
    position: absolute;
    right: -10px;
    top: 44px;
    background: #f0f0f0;
    border-radius: 3px;
}
.tab11 .tab12 .item .wen .head .zan .other .btns i{
    display: block;
    width: 8px;
    height: 8px;
    background: #f0f0f0;
    position: absolute;
    top: -4px;
    right: 8px;
    -webkit-transform: rotate(45deg);
}
.tab11 .tab12 .item .wen .head .zan .other .btns ul{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}
.tab11 .tab12 .item .wen .head .zan .other .btns ul li{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab11 .tab12 .item .wen .head .zan .other .btns ul li a{
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 12px;
    padding: 6px 0;
    text-align: center;
}
.tab11 .tab12 .item .wen .head .zan .other .btns ul li a.red{
    color: #ff5500;
}
.tab11 .tab12 .item .wen .text{
    padding-top: 10px;
    font-size: 13px;
    color: #999999;
    line-height: 1.6em;
}
.tab11 .tab12 .item .wen .note{
    text-align: right;
    font-size: 0;
    padding-top: 5px;
}
.tab11 .tab12 .item .wen .note a{
    display: inline-block;
    width: auto;
    height: 14px;
    line-height: 14px;
    font-size: 12px;
    color: #85a4df;
    background: url(../images/icon-reply.png) no-repeat left center;
    background-size: 12px 12px;
    padding-left: 20px;
}
.tab11 .tab12 .item .da{
    padding: 15px 0;
}
.tab11 .tab12 .item .da .head{
    height: 36px;
    position: relative;
}
.tab11 .tab12 .item .da .head .user{
    height: 36px;
    position: relative;
    padding-left: 46px;
}
.tab11 .tab12 .item .da .head .user .tou{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}
.tab11 .tab12 .item .da .head .user .tou a{
    display: block;
    width: 36px;
    height: 36px;
}
.tab11 .tab12 .item .da .head .user .tou a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.tab11 .tab12 .item .da .head .user .name{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}
.tab11 .tab12 .item .da .hua{
    min-height: 36px;
    margin-top: 15px;
    position: relative;
}
.tab11 .tab12 .item .da .hua .listen{
    height: 36px;
    position: relative;
    margin-right: 60px;
}
.tab11 .tab12 .item .da .hua .listen a{
    display: block;
    height: 36px;
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    background: linear-gradient(to right, #44ca77, #2ab45e);
}
.tab11 .tab12 .item .da .hua .listen a span{
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
}
.tab11 .tab12 .item .da .hua .listen a span.yuan{
    float: left;
    background: url(../images/music.png) no-repeat left center;
    background-size: 12px 12px;
    padding-left: 15px;
}
.tab11 .tab12 .item .da .hua .listen a span.time{
    float: right;
}
.tab11 .tab12 .item .da .hua .num{
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #999999;
}
/*bbslook*/
.wenda{
    padding-top: 10px;
}
.wenda .list .item{
    background: #fff;
    margin-bottom: 5px;
    padding: 0 15px;
}
.wenda .list .item .wen{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
    padding: 15px 0;
}
.wenda .head{
    height: 36px;
    position: relative;
}
.wenda .head .user{
    height: 36px;
    position: relative;
    padding-left: 46px;
}
.wenda .head .user .tou{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}
.wenda .head .user .tou a{
    display: block;
    width: 36px;
    height: 36px;
}
.wenda .head .user .tou a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.wenda .head .user .name{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}
.wenda .text{
    padding-top: 10px;
    font-size: 13px;
    color: #999999;
    line-height: 1.6em;
}
.wenda .list .item .da{
    padding: 15px 0;
}
.wenda .head .num36{
    height: 36px;
    line-height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    color: #999999;
}
.wenda .list .item .da .cent{
    min-height: 36px;
    margin-top: 15px;
    position: relative;
}
.wenda .list .item .da .cent .listen{
    height: 36px;
    position: relative;
    margin-right: 60px;
}
.wenda .list .item .da .cent .listen a{
    display: block;
    height: 36px;
    border-radius: 20px;
    position: relative;
    padding: 0 10px;
    background: linear-gradient(to right, #44ca77, #2ab45e);
}
.wenda .list .item .da .cent .listen a span{
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #fff;
}
.wenda .list .item .da .cent .listen a span.state{
    float: left;
    background: url(../images/music.png) no-repeat;
    background-position: left center;
    background-size: 12px 12px;
    padding-left: 15px;
}
.wenda .list .item .da .cent .listen a span.time{
    float: right;
}

/*bbstopic*/
.tab13{
    background: #fff;
    margin-top: 10px;
    padding: 15px;
}
.tab13 .title{
    height: 30px;
    margin-bottom: 15px;
    display: flex;
}
.tab13 .title .note{
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 14px;
    color: #333;
    margin-left:10px;
}
.tab13 .main .textarea{
    position: relative;
}
.tab13 .main .textarea textarea{
    width: 100%;
    height: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #666;
    padding: 10px;
}
.tab13 .main .textarea .of{
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
    color: #999;
}
.tab13 .main .jia{
    padding-top: 15px;
}
.tab13 .main .jia a{
    display: block;
    width: 56px;
    height: 56px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url(../images/icon-add.png) no-repeat center #fff;
    background-size: 22px 22px;
}
.tab13 .main .niming{
    padding-top: 10px;
    overflow: hidden;
}
.tab13 .main .niming label{
    display: block;
    height: 24px;
    line-height: 24px;
    float: left;
    font-size: 12px;
    color: #999;
}
.tab13 .main .niming label input{
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    margin: 5px 5px 0 0;
    background: #fff;
}
.tab13 .main .btn{
    padding-top: 10px;
    margin-bottom:10px;
}
.tab13 .main .btn input{
    display: block;
    width: 150px;
    height: 44px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}
.tab14{
    background: #fff;
    margin-top: 10px;
    padding: 15px;
}
.tab14 .top{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
    padding-bottom: 15px;
}
.tab14 .top .head{
    height: 36px;
    position: relative;
}
.tab14 .top .head .user{
    height: 36px;
    position: relative;
    padding-left: 46px;
}
.tab14 .top .head .user .tou{
    width: 36px;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
}
.tab14 .top .head .user .tou a{
    display: block;
    width: 36px;
    height: 36px;
}
.tab14 .top .head .user .tou a img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.tab14 .top .head .user .name{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #333;
}
.tab14 .top .head .user .yuan{
    height: 36px;
    line-height: 36px;
    font-size: 14px;
    color: #999;
    position: absolute;
    right: 0;
    top: 0;
}
.tab14 .top .text{
    padding-top: 10px;
    font-size: 12px;
    color: #999999;
}
.tab14 .top .note{
    padding-top: 5px;
    font-size: 12px;
    color: #db7679;
}
.tab14 .bot{
    padding: 25px 0;
}
.tab14 .bot .icon{
    width: 50px;
    height: 50px;
    font-size: 0;
    margin: 0 auto;
}
.tab14 .bot .icon img{
    width: 50px;
    height: 50px;
}
.tab14 .bot .text{
    text-align: center;
    padding-top: 10px;
    font-size: 12px;
    color: #fa655b;
    font-weight: bold;
}
.tab14 .bot .back{
    padding-top: 20px;
}
.tab14 .bot .back a{
    display: block;
    width: 150px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}

/*bbsreply*/
.tab14 .inpt{
    padding-top: 10px;
}
.tab14 .inpt .inp{
    position: relative;
}
.tab14 .inpt .inp input{
    display: block;
    width: 100%;
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #f9f9f9;
    padding: 13px 54px 13px 10px;
    line-height: 16px;
    font-size: 14px;
    color: #333;
}
.tab14 .inpt .inp a{
    display: block;
    width: 44px;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/icon-voice.png) no-repeat center;
    background-size: 16px 16px;
    z-index: 2;
}
.tab14 .inpt .btn{
    padding: 30px 0;
}
.tab14 .inpt .btn input{
    display: block;
    width: 150px;
    height: 44px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}
.tab15 .mui-scroll-wrapper .mui-scroll .act{
    background: #eeeeee;
    color: #333;
}
.tab15 .mui-scroll-wrapper .mui-scroll .mui-control-item{
    width:20.6%;
    color: #333;
}
.yaoqing img{
    width:100%;
}


/*bind*/
.login .login_tit{
    text-align: center;
    font-size: 16px;
    color: #333;
    font-weight: bold;
    padding: 15px 0;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.login .from{
    padding:13px 60px;
}
.login .from ul li{
    padding:7px 0;
}
.login .from ul li .tit{
    font-size: 13px;
    color: #666666;
}
.login .from ul li .inpbox{
    position: relative;
    margin-top: 5px;
}
.login .from ul li .inpbox input{
    display: block;
    width: 100%;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 16px;
    color: #333;
    background: #fff;
}
.login .from ul li .inpbox .obtain{
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    color: #fff;
    font-size: 12px;
    border-radius: 0 5px 5px 0;
    z-index: 99;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
}
.login .from ul li .inpbox .yzm{
    display: block;
    width: 100px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -15px;
    border-radius: 0 5px 5px 0;
    z-index: 99;
}
.login .from ul li .inpbox .yzm img{
    width: 100px;
    height: 30px;
}
.login .from ul li .inpbox .inp3{
    padding-right: 110px;
}
.login .from ul li .btnbox input{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    color: #fff;
    border:0;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}

/*card*/
.tab16{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #353535;
}
.tab16 .img1{
    border-radius:20px;
    padding:20px;
}
























