*{
	magin:0;
	padding:0;
}
.headsearch .mui-icon-search:before,.headmenu .mui-icon-bars:before{
	content: '';
}
.wrapper{
	width: auto;
    height: auto;
    padding: 44px 0 50px 0;
}
.wrapper .head{
	width: auto;
    height: auto;
    font-size: 0;
    position: relative;
}
.wrapper .head .img{
	width: auto;
    height: auto;
}
.wrapper .head .img a{
	display: block;
    width: auto;
    height: auto;
    position: relative;
}
.wrapper .head .img a .on{
	display: none;
    position: absolute;
    left: 0;
    top: 0;
}
.wrapper .head .img a .on img{
	width:100%;
}
.wrapper .head .img a span{
	display: block;
    width: auto;
    height: auto;
}
.wrapper .head .img a .off img{
	width:100%;
}
.wrapper .tab{
	width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.wrapper .tab ul li{
	width: 33.333%;
    height: 40px;
    float: left;
}
.wrapper .tab ul li a{
	display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.wrapper .tab ul li a span{
	display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.finecourseconmain{
	width: auto;
    height: auto;
}
.finecourseconmain .item{
	width: auto;
    height: auto;
    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.finecourseconmain .item .tit{
	width: auto;
    height: auto;
    text-align: center;
    font-size: 0;
    padding-top: 30px;
}
.finecourseconmain .item .tit .box{
	display: inline-block;
    width: auto;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 15px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}
.finecourseconmain .item .tit .box .l{
	display: inline-block;
    width: auto;
    height: 26px;
    padding-left: 20px;
    background: url(../images/finecoursecon-tit.png) no-repeat left center;
    background-size: 11px 11px;
}
.finecourseconmain .item .tit .box .l .r{
	display: inline-block;
    width: auto;
    height: 26px;
    padding-right: 20px;
    background: url(../images/finecoursecon-tit.png) no-repeat right center;
    background-size: 11px 11px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.finecourseconmain .item .intro{
	width: auto;
    height: auto;
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding: 25px 35px 0 35px;
    text-indent: 2em;
}
.finecourseconmain .item .give{
	width: auto;
    height: auto;
    text-align: center;
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding: 20px 35px 0 35px;
}
.finecourseconmain .item .sle{
	width: auto;
    height: auto;
    font-size: 0;
    padding: 25px 15px 0 15px;
}
.finecourseconmain .item .sle img{
	width: 100%;
    border-radius: 5px;
}
.finecourseconmain .item .author{
	width: auto;
    height: auto;
    padding: 15px 15px 0 15px;
}
.finecourseconmain .item .author ul li{
	width: auto;
    height: auto;
    padding-top: 10px;
}
.finecourseconmain .item .author ul li .box{
	width: auto;
    height: auto;
    background: #fafafa;
    border: 1px dashed #ddd;
    border-radius: 5px;
    padding: 15px;
}
.finecourseconmain .item .author ul li .box .ren{
	width: auto;
    height: 60px;
    position: relative;
    padding-left: 70px;
}
.finecourseconmain .item .author ul li .box .ren .portrait{
	width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 2px 3px #dddddd;
    position: absolute;
    left: 0;
    top: 0;
}
.finecourseconmain .item .author ul li .box .ren .portrait img{
	width: 60px;
    height: 60px;
    border-radius: 50%;
}
.finecourseconmain .item .author ul li .box .ren .con{
	width: auto;
    height: auto;
}
.finecourseconmain .item .author ul li .box .ren .con .tr{
	display: table;
    width: 100%;
    min-height: 60px;
}
.finecourseconmain .item .author ul li .box .ren .con .tr .td{
	display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.finecourseconmain .item .author ul li .box .ren .con .tr .td .name{
	width: auto;
    height: auto;
    font-size: 14px;
    color: #333;
}
.finecourseconmain .item .author ul li .box .ren .con .tr .td .tag{
	width: auto;
    height: auto;
    font-size: 0;
    padding-top: 8px;
}
.finecourseconmain .item .author ul li .box .ren .con .tr .td .tag div{
	display: inline-block;
    width: auto;
    height: 16px;
    line-height: 16px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
}
.finecourseconmain .item .author ul li .box .txt{
	width: auto;
    height: auto;
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding-top: 15px;
}
}














