	.mui-bar{
            width: 100%;
		    height: 44px;
		    background: #fff;
		    position: fixed;
		    left: 0;
		    top: 0;
		    z-index: 999;
        }
        .mui-bar .mui-segmented-control{
            margin: 0 88px 0 5px;
            top: 0;
        }
        header .mui-segmented-control.mui-segmented-control-inverted{
            width: 5.71rem;
        }
        .mui-segmented-control.mui-scroll-wrapper{
    			height: 44px;
        }
        header .mui-scroll{
            margin: 0 auto;
            overflow: hidden;
        }
        .mui-segmented-control.mui-scroll-wrapper .mui-control-item{
            width: auto;
            height: 44px;
            line-height: 44px;
            position: relative;
            padding: 0 11px 0 10px;
            font-size: 14px;
            color: #333;
        }
        .mui-segmented-control.mui-scroll-wrapper .mui-control-item i{
            display: block;
            width: 1px;
            height: 10px;
            font-size: 0;
            line-height: 0;
            background: #ddd;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -5px;
        }
        .mui-segmented-control.mui-scroll-wrapper .mui-control-item b{
            display: none;
            width: auto;
            height: 2px;
            background: #ff165b;
            font-size: 0;
            line-height: 0;
            position: absolute;
            left: 10px;
            right: 11px;
            bottom: 6px;
        }
        .headopera {
            width: 60px;
            height: 44px;
            position: absolute;
            right: 14px;
            top: 0;
            z-index: 2;
        }
        .headsearch {
            width: 30px;
            height: 44px;
            float: left;
        }
        .headsearch a {
            display: block;
            width: auto;
            height: 44px;
            background-size: 15px 15px;
        }
        .headmenu {
            width: 30px;
            height: 44px;
            float: left;
        }
        .headmenu a {
            display: block;
            width: auto;
            height: 44px;
            background-size: 15px 15px;
        }
        .mui-bar-tab{
            bottom:0;
            top:auto;
        }
        .mui-bar-tab .mui-tab-item.mui-active {
            color: #ff0757;
        }
        .mui-bar-tab .mui-tab-item.mui-active .mui-tab-label{
            color: #ff0757;
        }
        .mui-bar-tab .mui-tab-item span{
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        .mui-bar-tab .mui-tab-item .icon{
            width: 20px!important;
            height: 20px;
            background-repeat: no-repeat;
            background-image: url(../images/footer.png);
            background-size: 100px 40px;
        }
        .mui-bar-tab .mui-tab-item .mui-tab-label{
            font-size: 10px;
            color: #666666;
            padding-top: 5px;
        }
        .mui-bar-tab .mui-tab-item.mui-active .ico1{
            background-position: 0px -20px;
        }
        .mui-bar-tab .mui-tab-item .ico2{
            background-position: -20px 0px;
        }
        .mui-bar-tab .mui-tab-item .ico3{
            background-position: -40px 0px;
        }
        .mui-bar-tab .mui-tab-item .ico4{
            background-position: -60px 0px;
        }
        .mui-bar-tab .mui-tab-item .ico5{
            background-position: -80px 0px;
        }