*{
	magin:0;
	padding:0;
}
.headsearch .mui-icon-search:before,.headmenu .mui-icon-bars:before{
	content: '';
}
.wrapper{
	width: auto;
    height: auto;
    padding: 44px 0 50px 0;
}
.wrapper .nban{
	width: auto;
    height: auto;
    font-size: 0;
}
.wrapper .nban img{
	width: 100%;
}
.wrapper .tab{
	width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.wrapper .tab ul li{
	width: 33.333%;
    height: 40px;
    float: left;
}
.wrapper .tab ul li a{
	display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
    position: relative;
}
.wrapper .tab ul li a span{
	display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.wrapper .tab ul li a.on{
	color: #333333;
    background: #eeeeee;
}
.makedown{
	width: auto;
    height: auto;
}
.makedown ul li{
	width: auto;
    height: auto;
    padding-bottom: 5px;
}
.makedown ul li .box{
	width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.makedown ul li .box .img{
	width: auto;
    height: auto;
    font-size: 0;
}
.makedown ul li .box .img a{
	display: block;
    width: auto;
    height: auto;
}
.makedown ul li .box .img a img{
	width: 100%;
}
.makedown ul li .box .icon{
	width: auto;
    height: auto;
    padding: 15px 100px 15px 15px;
    position: relative;
}
.makedown ul li .box .icon .tit{
	width: auto;
    height: auto;
    background: url(../images/inmore.png) no-repeat left center;
    background-size: 3px 5px;
    font-size: 12px;
    padding-left: 10px;
}
.makedown ul li .box .icon .tit a{
	color: #333;
}
.makedown ul li .box .icon .txt{
	width: auto;
    height: auto;
    padding: 5px 0 0 10px;
    line-height: 16px;
    font-size: 10px;
    color: #666;
}
.makedown ul li .box .icon .txt span{
	color: #999;
    padding-right: 5px;
}
.makedown ul li .box .icon .note{
	width: auto;
    min-width: 80px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -25px;
}
.makedown ul li .box .icon .note .num{
	width: auto;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #666;
}
.makedown ul li .box .icon .note .num span{
	color: #ca0813;
    padding-left: 5px;
}
.makedown ul li .box .icon .note .btn{
	width: auto;
    height: auto;
}
.makedown ul li .box .icon .note .btn a{
	display: block;
    width: auto;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
    background: #ea9ca1;
}
.opmakedown2{
	background: #f9c99f !important;
}
