html,body{
    background: #fff;
}
ul,ol{
    list-style:none;
}
.bigbox{
    padding-top:44px;
    padding-bottom: 50px;
}
.newsbox{
    width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.news_title{
    width: auto;
    height: auto;
    padding: 20px 15px 0 15px;
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
}
.newsbox .news_smtitle{
    width: auto;
    height: auto;
    margin: 15px 15px 0 15px;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px 15px 10px 45px;
    font-size: 12px;
    color: #666;
    line-height: 1.6em;
    background-image: url(../images/icon-intro.png);
    background-repeat: no-repeat;
    background-size: 17px 13px;
    background-position: 15px 15px;
}
.news_nei{
    width: auto;
    height: auto;
    font-size: 13px;
    color: #999999;
    line-height: 1.6em;
    padding: 15px;
    text-align: justify;
}
.news_vid{
    width: auto;
    height: auto;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.news_vid .bga{
    width: 441px;
}
.news_vid .play{
    width: 40px;
    position: absolute;
    left:200px;
    top:100px;
}
.bga1{
    padding: 0 15px;
}
.bga1 img{
    width: 381px;
}
.imgg{
    width: auto;
    height: auto;
    font-size: 0;
    line-height: 0;
}
.imgg img{
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    font-size: 0px;
    line-height: 0px;
    max-width: 100%;
}
.four{
    width: 100%;
    height: 34px;
}
.four ul{
    width: 100%;
    height: 34px;
    padding: 0;
    margin: 0;
}
.four ul li{
    width: 25%;
    height: 34px;
    float: left;
    margin-top:4px;
}
.four ul li a {
    display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    text-align: center;
    font-size: 0;
    line-height: 34px;
}
.item {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left: 18px;
    margin: 0;
}
.item span {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../images/inopera.png);
    background-repeat: no-repeat;
    background-size: 48px 24px;
}
.four ul li a .item span.ico2 {
    background-position: -12px 0px;
}
.four ul li a .item span.ico3 {
    background-position: -24px 0px;
}
.four ul li a .item span.ico4 {
    background-position: -36px 0px;
}
.tab8{
    background: #fff;
    margin-top: 10px;
}
.tab8 .tab8_header{
    height: 44px;
    padding: 0 15px;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_header .name{
    height: 44px;
    line-height: 44px;
    float: left;
    font-size: 12px;
    color: #333;
}
.tab8 .tab8_header .more{
    height: 44px;
    float: right;
}
.tab8 .tab8_header .more a{
    display: block;
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    color: #999;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
}
.tab8 .tab8_main{
    background: #fff;
}
.tab8 .tab8_main .item{
    padding-left: 55px;
    position: relative;
}
.tab8 .tab8_main .item .tou{
    width: 30px;
    height: 30px;
    position: absolute;
    left: 15px;
    top: 15px;
}
.tab8 .tab8_main .item .tou a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.tab8 .tab8_main .item .shen{
    min-height: 60px;
    padding: 15px 15px 15px 0;
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_main .item .shen .name{
    font-size: 10px;
    color: #333;
}
.tab8 .tab8_main .item .shen .name a{
    color: #333;
}
.tab8 .tab8_main .item .shen .cont{
    padding-top: 5px;
    position: relative;
}
.tab8 .tab8_main .item .shen .cont .text{
    font-size: 12px;
    color: #333;
    line-height: 18px;
    margin-right: 75px;
}
.tab8 .tab8_main .item .shen .cont .opera{
    height: 36px;
    position: absolute;
    right: 0;
    top: -5px;
}
.tab8 .tab8_main .item .shen .cont .opera .like{
    height: 36px;
    float: left;
}
.tab8 .tab8_main .item .shen .cont .opera .like a{
    display: block;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 12px;
    color: #999999;
    padding-left: 18px;
}
.tab8 .tab8_main .item .shen .cont .opera .like a i{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat;
    background-size: 48px 24px;
    background-position: -24px 0px;
}
.tab8 .tab8_main .item .shen .cont .opera .other{
    height: 36px;
    float: left;
    position: relative;
    margin-left: 5px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .icon{
    height:36px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .icon a{
    display: block;
    height: 36px;
    background: url(../images/icon-other.png) no-repeat right center;
    background-size: 3px 12px;
    padding-left: 10px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns{
    width: 44px;
    position: absolute;
    right: -10px;
    top: 44px;
    background: #f0f0f0;
    border-radius: 3px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns i{
    display: block;
    width: 8px;
    height: 8px;
    background: #f0f0f0;
    position: absolute;
    top: -4px;
    right: 8px;
    -webkit-transform: rotate(45deg);
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul{
    display: block;
    position: relative;
    z-index: 2;
    padding: 0 5px;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul li a{
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 12px;
    padding: 6px 0;
    text-align: center;
}
.tab8 .tab8_main .item .shen .cont .opera .other .btns ul li a.red{
    color:#ff5500;
}
.tab8 .tab8_main .item .shen .note{
    padding-top: 5px;
    font-size: 10px;
    color: #999;
}
.tab8 .tab8_main .item .shen .note a{
    color: #999;
    position: relative;
    margin-left: 6px;
    padding-left: 8px;
}
.tab8 .tab8_main .item .shen .note a i{
    display: block;
    width: 2px;
    height: 2px;
    background: #999;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -1px;
}
.tab8 .tab8_main .item .shen .look{
    padding-top: 10px;
}
.tab8 .tab8_main .item .shen .look a{
    display: block;
    background: #f9f9f9;
    border-radius: 5px;
    font-size: 10px;
    color: #666666;
    padding: 0 10px;
}
.tab8 .tab8_main .item .shen .look a span{
    display: block;
    padding: 6px 0;
    background: url(../images/inmore.png) no-repeat right center;
    background-size: 5px 10px;
    padding-right: 10px;
    line-height: 12px;
}
.tab8 .tab8_main .item .shen .huifu{
    margin-top: 10px;
    background-color: #f9f9f9 !important;
    border-radius: 5px;
    background: url(../images/discuss-reply.png) no-repeat;
    background-size: 12px 11px;
    background-position: 12px 11px;
    padding-left: 33px;
}
.tab8 .tab8_main .item .shen .huifu ul li{
    background: url(../images/borgrayb.png) repeat-x bottom;
    background-size: 1px 1px;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox{
    padding: 10px 0;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname{
    line-height: 12px;
    position: relative;
    font-size: 10px;
    color: #333333;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname a{
    color:#3d6fce;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifuname .time{
    display: block;
    height: 12px;
    line-height: 12px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -6px;
    color: #999;
}
.tab8 .tab8_main .item .shen .huifu ul li .huifubox .huifutext{
    font-size: 10px;
    color: #333333;
    padding-top: 5px;
}
.tab9{
    width: 100%;
    height: 50px;
    background: url(../images/borgrayt.png) repeat-x top #f6f6f6;
    background-size: 1px 1px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 999;
    padding: 6px 76px 6px 6px;
}
.tab9 span.icon{
    width: 38px;
    height: 38px;
    position: absolute;
    left: 6px;
    top: 6px;
    z-index: 2;
    background: url(../images/icon-edit.png) no-repeat center;
    background-size: 18px 18px;
}
.tab9 form .inp{
    width: 100%;
    height: 38px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fff;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    padding: 10px 10px 10px 38px;
}
.tab9 form input[type="text"]:focus{
    border:2px solid #ffbb11 !important;
    /*box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;*/
    box-shadow: #ffbb11 0px 0px 10px;
}
.tab{
    padding-bottom:50px;
}