a{
    color: #000 !important;
}
body{
    font: 16px/1.25 PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
    background-color: #f6f6f6;
    font-weight: 100;
    touch-action: none;
    box-sizing: border-box;
}
.mui-content{
    overflow: scroll;
    background-color: #f6f6f6;
}
ul, li {
    display: block;
    list-style: none;
}
.mui-bar{
    padding-left: 5px;
    padding-right: 0;
    background-color: #fff;
    box-shadow: none;
    border-top: 1px solid #eee;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
    padding-right: 11px;
    padding-left: 7px;
    position: relative;
    font-size: 14px;
    color:#000;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item:last-child:before{
    opacity: 0;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item:before{
    content: '';
    position: absolute;
    top: 9px;
    right:0;
    display: block;
    height: 12px;
    width: 1px;
    line-height: 0;
    font-size: 0;
    background-color: #ddd;
}
.mui-col-xs-10{
    width: 79.333333%;
}
.mui-col-xs-2{
    width: 20.666667%;
}
.mui-bar-nav~.mui-content{
    margin-top: -25px;
    margin-bottom: 50px!important;
    padding-bottom: 0!important;
}

.recommend{
    width: auto;
    height: auto;
    background: #fff;
    padding: 4px 0;
}
.recommend .recommend-t{
    width: auto;
    height: auto;
    text-align: center;
    font-size: 18px;
    color: #333;
    padding-top: 10px;
}
.recommend .reco-list{
    width: auto;
    height: auto;
    padding: 11px;
    overflow: hidden;
}
.recommend .reco-list ul{
    margin: 0;
    padding: 0;
}
.recommend .reco-list li{
    width: 25%;
    height: auto;
    float: left;
    padding: 4px;
}
.recommend .reco-list li a{
    display: block;
    width: auto;
    height: 60px;
    background: #fff;
    padding-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
.recommend .reco-list li a span{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.recommend .reco-list li a span img{
    width: 22px;
    height: 22px;
}
.recommend .reco-list .icon{
    width: 22px;
    height: 22px;
}
.recommend .reco-list .txt{
    width: auto;
    height: auto;
    font-size: 12px;
    color: #666;
    padding-top: 6px;
}
.info1{
    margin-top: 6px!important;
}
.info2{
    margin-top: 10px!important;
}
.info{
    width: auto;
    height: auto;
    background: #fff;
    margin-top: 10px;
}
.info .title{
    width: auto;
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 18px;
    color: #333;
    background: #fff;
    position: relative;
}
.info .title a.sj{
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    opacity: 0.5;
    background: url("../images/inmore.png") no-repeat center;
    background-size: 5px 10px;
    margin-top: -20px;
}
.info .item{
    width: auto;
    height: auto;
}
.info .item .top{
    font-size: 12px;
    width: auto;
    height: auto;
    margin: 0 15px;
    overflow: hidden;
    white-space: nowrap;/*定义文本不进行换行*/
}
.info .item .pic{
    width: auto;
    height: auto;
    padding-top: 10px;
}
.info .item .pic a{
    display: block;
}
.info .item .pic img{
    width: 100%;
}
.info .item .foot{
    width: auto;
    height: 34px;
    padding: 5px 0;
}
.info .item .foot ul{
    margin: 0;
    padding: 0;
}
.info .item .foot ul li{
    width: 25%;
    height: 24px;
    float: left;
}
.info .item .foot ul li a{
    display: block;
    width: auto;
    height: 24px;
    text-align: center;
}
.info .item .foot .con{
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left:18px;
}
.info .item .foot .con span{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url("../images/inopera.png") no-repeat;
    background-size: 48px 24px;
}
.info .item .foot .con .ico1{
    background-position: 0 0;
}
.info .item .foot .con .ico2{
    background-position: -12px 0;
}
.info .item .foot .con .ico3{
    background-position: -24px 0;
}
.info .item .foot .con .ico4{
    background-position: -36px 0;
}
.lb{
    margin-top: 5px;
    background: #fff;
    padding: 15px 0;
    width: auto;
    height: auto;
    display: inline-block;
    /*margin-bottom: 90px;*/
}
.lb .ls{
    width: 126px;
    float: left;
    margin-right: 15px;
}
.lb .ls:nth-child(1){
    margin-left: 15px;
}
.hei{
    height: 136px !important;
}
.wid{
    width: 28rem !important;
}
.lb .ls a{
    display: block;
}
.lb .ls .sl{
    text-align: left;
}
.lb .ls .sl img{
    width: 100%;
    border-radius: 5px;
}
.lb .ls .tle{
    width: auto;
    font-size: 12px;
    color: #333;
    word-break: break-all;
    word-wrap:break-word;
    margin-top: 5px;
    white-space: normal;
    text-align: left;
}
.lb .ls .tet{
    width: auto;
    height: auto;
    font-size: 10px;
    color: #999;
    padding-top: 2px;
    text-align: left;
}
.hei1{
    height: 80px!important;
    padding-bottom: 15px;
}
.scorl{
    height: 65px!important;
    width: 36rem !important;
}
.scorl ul li:first-child{
    margin-left: 10px;
}
.scorl ul{
    margin: 0;
    padding: 0;
}
.scorl ul li{
    width: 52px;
    height: auto;
    float: left;
    margin-right: 10px;
}
.scorl ul li a{
    display: block;
}
.scorl ul li a .img1{
    width: 42px;
    height: 42px;
    position: relative;
    margin: 0 auto;
}
.scorl ul li a .img1 i{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 14px;
    font-size: 10px;
    color: #fff;
    font-weight: normal;
}
.scorl ul li a .img1 i.num1{
    background: #fa3333;
}
.scorl ul li a .img1 i.num2{
    background: #ff9901;
}
.scorl ul li a .img1 i.num3{
    background: #ffcc01;
}
.scorl ul li a .img1 img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.scorl ul li a .txt1{
    text-align: center;
    font-size: 9px;
    color: #999;
    padding-top: 8px;
}
.info-f{
    background: #fff;
    padding: 15px 0;
    /*width: auto;*/
    /*height: auto;*/
}
.info-f img{
    max-width: 100%;
}
.in-bottom{
    overflow: hidden;
    padding: 0 7px 15px 7px;
}
.in-bottom ul{
    padding: 0;
    margin: 0;
}
.in-bottom ul li{
    width: 50%;
    float: left;
    padding: 0 7px;
}
.in-bottom ul li a{
    display: block;
}
.in-bottom ul li a .img2 img{
    max-width: 100%;
    border-radius: 5px;
}
.in-bottom ul li a .txt2{
    text-align: center;
    padding-top: 15px;
    font-size: 14px;
    color: #333;
}
.tac{
    text-align: center!important;
    font-size: 14px!important;
    padding-top: 10px;
}
.cc3{
    text-align: center;
    padding-bottom: 0!important;
    height: 20px!important;
    margin: 0 auto;
}
.cc3 span{
    display: inline-block;
    padding-left: 18px;
    margin-right: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #999;
    position: relative;
}
.cc3 span i{
    display: block;
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url("../images/inopera.png") no-repeat;
    background-size: 48px 24px;
}
.cc3 span i.ico2{
    background-position: -12px 0;
}
.cc3 span i.ico3{
    background-position: -24px 0;
}
.th{
    width: 92% !important;
    margin-right: 5px;
    left: 9%;
    transform: translate(4%);
}
.th .item .pic img{
    border-radius: 5px;
}
.mui-slider-indicator{
    position: static;
    margin-bottom: 15px;
}
.mui-slider-indicator .mui-active{
    background: #f54744!important;
    border-color: #f54744;
}
.mui-indicator{
    box-shadow: none!important;
    margin: 0 3px!important;
    border: 2px solid #fff;
    opacity:1;
    width: 8px!important;
    height: 8px!important;
}


.footer-icon{
    width: 20px!important;
    height: 20px!important;
    background: url(../images/footer.png) no-repeat;
    background-size: 100px 40px;
}
.mui-bar-tab .mui-tab-item.mui-active{
    color:#ff0757;
}
.footer-icon-index{
    background-position: 0 0;
}
.footer-icon-school{
    background-position: -20px 0;
}
.footer-icon-register{
    background-position: -40px 0;
}
.footer-icon-answer{
    background-position: -60px 0;
}
.footer-icon-user{
    background-position: -80px 0;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-index{
    background-position: 0 -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-school{
    background-position: -20px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-register{
    background-position: -40px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-answer{
    background-position: -60px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-user{
    background-position: -80px -20px;
}
.index-header-bar.index-header-bar{
    padding: 0;
    height: 44px;
}
.mui-scroll-wrapper-box{
    width: auto;
    padding: 0;
    height: 44px;
    margin: 0 88px 0 5px;
}
.slider{
    padding-top: 48px;
}
.mui-inner-wrap{
    padding: 44px 0 50px 0;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
    padding: 0 11px 0 10px;
    font-size: 14px;
    color: #333;
}
.mui-segmented-control .mui-control-item{
    line-height: 44px;
}
.mui-segmented-control.mui-scroll-wrapper{
    height: 44px;
}
.mui-bar .mui-segmented-control{
    top: 0;
}
.index-header-bar-nav-right{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.index-header-bar-nav-search{
    display: block;
    width: 30px;
    height: 44px;
    background: url(../images/icon-search.png) no-repeat center;
    background-size: 15px 15px;
}
.index-header-bar-nav-list{
    display: block;
    width: 30px;
    height: 44px;
    background: url(../images/icon-menu.png) no-repeat center;
    background-size: 15px 15px;
}