*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style:none;
}
.filltext{
    width: auto;
    height: 40px;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
}
.filltext ul li{
    width: 25%;
    height: 40px;
    float: left;
}
.filltext ul li a{
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #666;
    text-align: center;
    position: relative;
}
.filltext ul li a.on{
    color: #333333;
    background: #eeeeee;
}
.filltext ul li a .iconspan{
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.provideo-list {
    width: auto;
    height: auto;
}
.provideo-list .item {
    width: auto;
    height: auto;
    background: #fff;
    margin-bottom: 10px;
}
.provideo-list .item .tit {
    width: auto;
    height: auto;
    padding: 15px;
    font-size: 14px;
}
.provideo-list .item .tit a {
    display: block;
    color: #333;
}
.provideo-list .item .img {
    width: auto;
    height: auto;
    font-size: 0;
}
.provideo-list .item .img a {
    display: block;
}
.fourOpera {
    width: auto;
    height: 34px;
    padding: 5px 0;
}
.fourOpera ul li {
    width: 25%;
    height: 24px;
    float: left;
}
.fourOpera ul li a {
    display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    text-align: center;
    font-size: 0;
}
.provideo-list .item:last-child {
    margin-bottom: 0;
}
.fourOpera ul li a .item {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left: 18px;
    margin: 0;
}
.fourOpera ul li a .item span.ico1 {
    background-position: 0px 0px;
}
.fourOpera ul li a .item span {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../images/inopera.png);
    background-repeat: no-repeat;
    background-size: 48px 24px;
}
.fourOpera ul li a .item span.ico2 {
    background-position: -12px 0px;
}
.fourOpera ul li a .item span.ico3 {
    background-position: -24px 0px;
}
.fourOpera ul li a .item span.ico4 {
    background-position: -36px 0px;
}
.provideo-list .item .img img {
    width: 100%;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    font-size: 0px;
    line-height: 0px;
    max-width: 100%;
}
.mui-scroll i{
    position: absolute;
    top: 15px;
    width:1px;
    height:10px;
    background-color: #ddd;
}
.mui-scroll-wrapper{
    width:85% !important;
}
.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
    border-bottom: none !important;
}
.fdj{
    width: 70px;
    height: 38px;
    border: none;
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 0px;
    right:0px;
    display: flex;
    justify-content: space-around;
}
.fdj a span{
    margin-top: 6px;
    color:black;
    border: none;
}
header{
    background-color: white;
}