/*common.css*/
ul,ol{
	list-style: none;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.wrap{
	width: auto;
    height: auto;
    padding: 44px 0 50px 0;
}
.header-avg img{
	width: 100%;
}
/*common  header*/
.footer-icon{
    width: 20px!important;
    height: 20px!important;
    background: url(../images/footer.png) no-repeat;
    background-size: 100px 40px;
}
.mui-bar-tab .mui-tab-item.mui-active{
    color:#ff0757;
}
.footer-icon-index{
    background-position: 0 0;
}
.footer-icon-school{
    background-position: -20px 0;
}
.footer-icon-register{
    background-position: -40px 0;
}
.footer-icon-answer{
    background-position: -60px 0;
}
.footer-icon-user{
    background-position: -80px 0;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-index{
    background-position: 0 -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-school{
    background-position: -20px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-register{
    background-position: -40px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-answer{
    background-position: -60px -20px;
}
.mui-bar-tab .mui-tab-item.mui-active .footer-icon-user{
    background-position: -80px -20px;
}
.index-header-bar.index-header-bar{
    padding: 0;
    height: 44px;
}
.mui-scroll-wrapper-box{
    width: auto;
    padding: 0;
    height: 44px;
    margin: 0 88px 0 5px;
}
.slider{
    padding-top: 48px;
}
.mui-inner-wrap{
    padding: 44px 0 50px 0;
}
.mui-segmented-control.mui-scroll-wrapper .mui-control-item{
    padding: 0 11px 0 10px;
    font-size: 14px;
    color: #333;
}
.mui-segmented-control .mui-control-item{
    line-height: 44px;
}
.mui-segmented-control.mui-scroll-wrapper{
    height: 44px;
}
.mui-bar .mui-segmented-control{
    top: 0;
}
.index-header-bar-nav-right{
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
}
.index-header-bar-nav-search{
    display: block;
    width: 30px;
    height: 44px;
    background: url(../images/icon-search.png) no-repeat center;
    background-size: 15px 15px;
}
.index-header-bar-nav-list{
    display: block;
    width: 30px;
    height: 44px;
    background: url(../images/icon-menu.png) no-repeat center;
    background-size: 15px 15px;
}
/*common end*/
.vipcoursecon_new-user{
	width: auto;
    height: auto;
    background: url(../images/borgrayb.png) repeat-x bottom #fff;
    background-size: 1px 1px;
    position: relative;
    z-index: 2;
    padding: 0 68px 0 96px;
}
.vip-user-box .vip-user-box-top{
	padding-top: 8px;
	display: flex;
}
.vip-user-box .vip-user-box-top .vip-user-name{
	height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #333333;
    padding-right: 20px;
}
.vip-user-box .vip-user-box-top .vip-user-name a{
	background-image: url(../images/vip-blue.png);
	display: block;
	background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
    background-size: 14px 14px;
    color: #333333;
}
.vip-user-box .vip-user-box-top .vip-user-fans{
	height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #999999;
}
.vip-user-box .vip-user-box-txt{
	font-size: 10px;
    color: #999;
}
.vip-user-box{
	position: relative;
}
.vip-user-portrait{
	width: 66px;
    height: 66px;
    background: #fff;
    position: absolute;
    top: -10px;
    left: 15px;
    border-radius: 50%;
    padding: 2px;
    overflow: hidden;
}
.vip-user-portrait a{
	display: block;
}
.vip-user-portrait img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.vip-user-gift{
	width: 68px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 14px;
    background: url(../images/borgrayl.png) repeat-y left;
    background-size: 1px 1px;
}
.vip-user-gift a{
	display: block;
}
.vip-user-gift a .icon{
	width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.vip-user-gift a .icon img{
	width: 100%;
}
.vipcoursecon_new-btn{
	width: auto;
    height: 44px;
    background: #fff;
    padding: 9px 0;
}
.vipcoursecon_new-btn ul li{
	width: 50%;
    height: 26px;
    float: left;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    padding: 0 35px;
}
.vipcoursecon_new-btn ul li a{
	display: block;
    width: auto;
    height: 26px;
    text-align: center;
    line-height: 24px;
    padding: 1px;
    font-size: 12px;
    color: #fff;
    border-radius: 15px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
}
.vipcoursecon_new-btn ul li a.opattention span{
	    display: block;
    width: auto;
    height: 24px;
    background: #fff;
    border-radius: 15px;
    text-align: center;
}
.vipcoursecon_new-btn ul li a.opattention span b{
	display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    color: #fa655b;
    background: url(../images/icon-addc.png) no-repeat left center;
    background-size: 10px 10px;
    padding-left: 16px;
}
.icon-filter{
	display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    background: url(../images/tabfilter.png) no-repeat right center;
    background-size: 15px 15px;
    padding-right: 25px;
}
.vip-tab-title{
	display: flex;
	width: 100%!important;
}
.vip-tab-title a{
	width: 33.3333%!important;
	height: 40px;	
	display: block!important;
	padding: 0!important;
	background: #fff;
	color: #666!important;
}
.newsproject{
	padding-bottom: 5px;
}
.newsproject .box a{
	display: block;
	background: #fff;
    position: relative;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.newsproject .box a .con{
	width: auto;
    height: auto;
    min-height: 80px;
    padding-right: 120px;
}
.newsproject .box a .con .tit{
	width: auto;
    height: auto;
    font-size: 14px;
    color: #333;
}
.newsproject .box a .con .text{
	width: auto;
    height: auto;
    font-size: 12px;
    color: #999;
    line-height: 1.6em;
    padding-top: 5px;
}
.newsproject .box a .con .node span{
	display: inline-block;
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    color: #999;
    padding-left: 15px;
    position: relative;
}
.newsproject .box a .con .node span i{
	display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background: url(../images/inopera.png) no-repeat 0px 0px;
    background-size: 48px 24px;
}
.newsproject .box a .img{
	width: 110px;
    height: 80px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 0;
}
.newsproject .box a .img img{
	width: 110px;
    height: 80px;
}
/*vipcourse.html*/
.vipcourse-new{
	width: auto;
    height: auto;
    padding-bottom: 10px;
    background: #fff;
}
.vipcourse-new .type{
	width: auto;
    height: auto;
    font-size: 0;
    padding: 10px 0;
}
.vipcourse-new .type a{
	display: inline-block;
    width: auto;
    height: 14px;
    line-height: 14px;
    border-left: 2px solid #f54744;
    padding-left: 13px;
    font-size: 14px;
    color: #333;
}
.vipcourse-new .type a span{
	display: inline-block;
    width: auto;
    height: auto;
    background: url(../images/inmore.png) no-repeat right center;
    padding-right: 20px;
    background-size: 5px 10px;
}
.vipcourse-new .item{
	width: auto;
    height: auto;
    padding: 0 15px 15px 15px;
    position: relative;
}
.vipcourse-new .item .img{
	width: 120px;
    height: 120px;
    position: absolute;
    left: 15px;
    top: 0;
}
.vipcourse-new .item .img img{
	width: 120px;
    height: 120px;
    border-radius: 5px;
}
.vipcourse-new .item .con{
	width: auto;
    height: auto;
    min-height: 120px;
    margin-left: 135px;
    position: relative;
    padding-bottom: 36px;
}
.vipcourse-new .item .con .tit{
	font-size: 14px;
    color: #333;
}
.vipcourse-new .item .con .note{
    font-size: 12px;
    color: #999;
    padding-top: 8px;
}
.vipcourse-new .item .con .txt{
	font-size: 12px;
    color: #666;
    padding-top: 8px;
}
/*vipcoursecon_new_con.html*/
.finewcon-main{
	margin-top: 10px;
    background: #fff;
}
.finewcon-main .finewcon-title{
	padding: 15px;
    font-size: 18px;
    color: #333333;
    font-weight: bold;
}
.finewcon-main .finewcon-music{
	background: #f5f5f5;
    border: 1px dashed #ddd;
    border-radius: 5px;
    margin: 0 15px;
    padding: 15px;
}
.finewcon-main .finewcon-music .tit{
	font-size: 14px;
    color: #333333;
}
.finewcon-main .finewcon-music .box{
	height: 25px;
    position: relative;
    margin-top: 10px;
}
.finewcon-main .finewcon-music .box .play{
	width: 133px;
    height: 25px;
}
.finewcon-main .finewcon-music .box .play a{
	display: block;
    width: 133px;
    height: 25px;
    background: url(../images/musicbg.png) no-repeat;
    background-size: 133px 25px;
    position: relative;
}
.finewcon-main .finewcon-music .box .play a .state{
	display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-image: url(../images/music.png);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 12px 12px;
    padding-left: 10px;
}
.finewcon-main .finewcon-music .box .play a .num{
	display: block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #999;
    position: absolute;
    left: 100%;
    top: 0;
    padding-left: 10px;
}
.finewcon-main .finewcon-music .box .note{
	height: 25px;
    line-height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: #999;
}
.finewcon-main .finewcon-cont{
	font-size: 13px;
    color: #999999;
    line-height: 1.6em;
}
.finewcon-main .finewcon-cont .txt{
	padding: 15px;
}
.finewcon-main .finewcon-cont .img img{
	width: 100%;
}
.finewcon-main .finewcon-opera .fourOpera{
	height: 34px;
    padding: 5px 0;
}
.finewcon-main .finewcon-opera .fourOpera ul{
	display: flex;
}
.finewcon-main .finewcon-opera .fourOpera ul li{
	width: 25%;
    height: 24px;
}
.finewcon-main .finewcon-opera .fourOpera ul li a{
	display: block;
    width: auto;
    height: 24px;
    background: url(../images/borgrayr.png) repeat-y right;
    background-size: 1px 1px;
    text-align: center;
    font-size: 0;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item{
	display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    font-size: 10px;
    color: #999;
    position: relative;
    padding-left: 18px;
    margin: 0;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item span{
	display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -6px;
    background-image: url(../images/inopera.png);
    background-repeat: no-repeat;
    background-size: 48px 24px;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item span.icon1{
	background-position: 0px 0px;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item span.icon2{
	background-position: -12px 0px;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item span.icon3{
	background-position: -24px 0px;
}
.finewcon-main .finewcon-opera .fourOpera ul li a .item span.icon4{
	background-position: -36px 0px;
}

/*svipcoursecon*/
.teacherproduce .item{
    background: #fff;
    margin-bottom: 10px;
    padding-bottom: 30px;
}
.teacherproduce .item .item-tit{
    text-align: center;
    padding-top: 30px;
}
.teacherproduce .item .item-tit .box{
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 12px;
    border-radius: 15px;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
    box-shadow: 0px 2px 2px rgba(255,150,149,0.5);
}
.teacherproduce .item .item-tit .box .l{
    display:block;
    height: 26px;
    padding-left: 20px;
    background: url(../images/finecoursecon-tit.png) no-repeat left center;
    background-size: 11px 11px;
}
.teacherproduce .item .item-tit .box .l .r{
    display: block;
    height: 26px;
    padding-right: 20px;
    background: url(../images/finecoursecon-tit.png) no-repeat right center;
    background-size: 11px 11px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}
.teacherproduce .item .item-img{
    padding: 25px 15px 0 15px;
}
.teacherproduce .item .item-img img{
    width: 100%;
    border-radius: 5px;
}
.teacherproduce .item .item-txt{
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding: 25px 35px 0 35px;
    text-indent: 2em;
}
.teacherproduce .item .item-list{
    padding: 25px 35px 0 35px;
}
.teacherproduce .item .item-list ul{
    display: block;
    border-top: 1px dotted #ddd;
}
.teacherproduce .item .item-list ul li{
    border-bottom: 1px dotted #ddd;
}
.teacherproduce .item .item-list ul li a{
    display: block;
    line-height: 20px;
    padding: 10px 0;
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    color: #999999;
}
.teacherproduce .item .item-list ul li a i{
    display: block;
    width: 4px;
    height: 4px;
    background: #f54744;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -2px;
}
.teacherproduce .item .item-list ul li a span{
    display: inline-block;
    min-width: 4em;
}
.teacherproduce .item .item-sale img{
    width:100%;
}
.teacherproduce .item .item-answer{
    padding: 15px 15px 0 15px;
}
.teacherproduce .item .item-answer ul{
    display: block;
    list-style: none;
}
.teacherproduce .item .item-answer ul li{
    padding-top:10px;
}
.teacherproduce .item .item-answer ul li .box{
    background: #fafafa;
    border: 1px dashed #ddd;
    border-radius: 5px;
    padding: 15px;
}
.teacherproduce .item .item-answer ul li .box .person{
    height: 60px;
    position: relative;
    padding-left: 70px;
}
.teacherproduce .item .item-answer ul li .box .person .tou{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 2px 3px #dddddd;
    position: absolute;
    left: 0;
    top: 0;
}
.teacherproduce .item .item-answer ul li .box .person .tou img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.teacherproduce .item .item-answer ul li .box .person .con .tr{
    display: table;
    width: 100%;
    min-height: 60px;
}
.teacherproduce .item .item-answer ul li .box .person .con .tr .td{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.teacherproduce .item .item-answer ul li .box .person .con .tr .td .name{
    font-size: 14px;
    color: #333;
}
.teacherproduce .item .item-answer ul li .box .person .con .tr .td .jieshao{
    padding-top: 8px;
}
.teacherproduce .item .item-answer ul li .box .person .con .tr .td .jieshao div{
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
}
.teacherproduce .item .item-answer ul li .box .txt{
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding-top: 15px;
}
.teacherproduce .item .item-for{
    padding: 20px 15px 0 15px;
}
.teacherproduce .item .item-for ul li{
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding-left: 20px;
    background: url(../images/finecoursecon-for.png) no-repeat left center;
    background-size: 14px 14px;
}
.teacherproduce .item .item-note{
    padding: 15px 15px 0 15px;
}
.teacherproduce .item .item-note .ite{
    padding: 5px 0;
}
.teacherproduce .item .item-note .ite .num{
    width: 32px;
    height: 32px;
    border: 1px dotted #e30a20;
    margin: 0 auto;
    border-radius: 50%;
    padding: 1px;
}
.teacherproduce .item .item-note .ite .num div{
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    border-radius: 50%;
    background: linear-gradient(to right, #f58762 , #fb5b5b 70%, #ff5391);
}
.teacherproduce .item .item-note .ite .txt{
    font-size: 14px;
    color: #999999;
    line-height: 1.6em;
    padding-top: 10px;
}